
.taskBox {
  width: 500px;
  /* height: 50px; */
  background-color: #ccc;
  margin: 0 auto;
  padding: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 5px;
}

.item p, input[type=text] {
  width: 200px;
  margin: 5px;
}

.item p {
  margin-right: 13px;
}

.item button {
  margin: 5px;
}